body{
    background: $dark-body;
    color: $white-body;
    
    &:before{
        background: $dark-topbar-background;  
    }
}

//Quarks: buttons

main{
    
    button{
        background: #110038;
        border: 1px solid $dark-background;
        box-shadow: inset -1px -1px 0 0 #A72CB3,
        inset 1px 1px 0 0 #FFFFFF;
        color: white;
        
        &:nth-last-child(1){
            background: #EE3EFE;
        }
    }
    span{
       border-right: 1px solid white; 
    }
}

//Molecules: Main

main{
    
    .instructions-container,.upload-container{
        //Borders and shadow styles
        @include dark-gifts-container
    }
    
    .upload-info{
        background: $dark-topbar-background;
    }
    
    //Molecules: upload
    
    .upload-container{
        #wait-load{
            background-color: #E6E6E6;
        }
        
        #loading-bar{
            background: #999999;
            box-shadow: inset 2px 2px 0 0 #E6E6E6,
            inset -2px -2px 0 0 #000000;
            
            .barSection {      
                background: #EE3EFE;;
                border: 1px solid #ffff;
            }
        }
        
         .upload-actions{
           
              
            .timer-container{
                .timer{
                    color: #110038;
                }
            }
        }
    }
}
