
#myGifs{
     
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    img{
        width: 45%;
        height: 10rem;
        margin-bottom: 2rem;
        
       
        @media screen and (min-width: 600px){       
            max-width: 30%;
            height: 15rem;
        }
    
        @media screen and (min-width: 1000px){
            width: 21%;
            height: 18rem; 
        }
    }
}