//-------------Upload container--------------------
main{
    .upload-container{   
        width: 80%;   
        height: 34.25rem;
        padding: 0.19rem 0.25rem 0.25rem 0.25rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        
        @media screen and (min-width: 600px){
            width: 80%;       
            height: 30rem;
        }
        
        @media screen and (min-width: 1000px){
            width: 53.75rem;      
            height: 34.25rem;
        }
        
        .upload-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: #FFF4FD;
            p{
                margin: 0;
            }
            img{
                cursor: pointer;
            }
        }
        
        .showVideo{
            margin-top: 2rem;
            width: 98%;
            height: 80%;
            padding: 0.125rem;
            box-shadow: inset -2px -2px 0 0 #ffffff, 
            inset 2px 2px 0 0 #000000;
         
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        
        #wait-load{
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            img{
                width: 3rem;
                height: 3rem;
                margin-bottom: 0.5rem;
            }
               
            p{
                font-family: ChakraPetch-Bold;
                font-weight: 700;
                font-size: 16px;
                color: #110038;
                letter-spacing: 0;
                text-align: center;
                line-height: 22px;
                margin-bottom: 1rem;
                
                &:nth-last-child(1){
                    font-family: ChakraPetch-Regular;
                    font-size: 12px;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 14px;
                }
            }
             
            #loading-bar {
                display: flex;
                margin-top: 2rem;
                width: 90%;
                height: 1.5rem;
                padding: 0.125rem;
                margin-bottom: 1rem;
                
                @media screen and (min-width: 600px){
                    width: 20.25rem; 
                }
                
                .barSection {
                    width: 3.7%;
                }
            }
        }
            
        // Buttons when the upload container is active
        .upload-actions{
            height: 10%;
            width: 100%;
            padding-left: 0.6rem;
            padding-right: 0.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
              
            .timer-container{
                opacity: 0;
                width: 4rem;
                height: 2.25rem;
                background: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #979797;
                box-shadow: inset -2px -2px 0 0 #E6E6E6,
                 inset 2px 2px 0 0 #000000;
                 
                span{
                    border: none;
                }
            }
        }
    }
}
  