#suggestions{
    height: 32rem;
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    @media screen and (min-width: 600px){
        
        height: 30rem;  
       
    }
    
    @media screen and (min-width: 1000px){
        height: 20rem;
    }
    
    span{
        background-color: coral;
        max-height: 100%;
        width: 47%;
        height: 40%;
        
        @media screen and (min-width: 600px){
            width: 32%;
            height: 42%;  
        
        }
        
        @media screen and (min-width: 1000px){
            width: 22%;
            height: 90%; 
        }
    }
}