#trends{
    height: 71.1rem;
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    @media screen and (min-width: 500px){
        
        height: 57.5rem;  
       
    }
    
    @media screen and (min-width: 800px){
        height: 60rem;
    }
    
    
    img{
        max-height: 100%;
        width: 47%;
        height: 18%;
        
        @media screen and (min-width: 500px){
            
            &:nth-last-child(2),&:nth-last-child(6){
                width: 66%;
            }
            width: 32%;
            height: 22%;  
        
        }
        
        @media screen and (min-width: 800px){
            
            
            &:nth-last-child(2),&:nth-last-child(6){
                width: 48%;
            }
            
            width: 22%;
            height: 30%;  
        }
    }
}
    