// general inputs

.alternative-searchbar{
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    font-family: ChakraPetch-Regular;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    background: #FFFAFE; //Both modes have the same background.
}