*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Chakra Petch', sans-serif;

}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 0.9rem;
    color: #110038;
}

p{
    font-weight: normal;
    font-size: 1rem;
}