body{
    background: $dark-body;
    color: $white-body;
    
    &:before{
       background: $dark-topbar-background; 
    }
    .header-btn{
        @include header-dark-buttons   
    }
    
    .hover-border:hover{
        &:before{
            border: 1px dotted white;    
        }
    }
    
    a{
       color: $white-body; 
    }
    
    #selectTheme{
        div{
            @include dark-navbar;
            button{                
                @include theme-options-dark;
                
                &:nth-last-child(1){
                    @include theme-altOptions-dark;  
                }
            }
        }
    }
     
    #myGuifos{
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 18px;
    }
    
    nav,.coincidences{
        @include dark-navbar;    
        .nav-btn{        
            background: $dark-background;
            color: #8F8F8F;
        }
        .nav-btn-input{
            background: #EE3EFE;
            border: 1px solid #110038;
            box-shadow: $dark-button-shadow;
            color: $white-body;
        } 
    }
    
    .coincidences{
        p{
            color: $dark-body;
            @include dark-coincidence-box;
        }
    }
    
    .alternative-searchbar{
        @include dark-alternative-searchbar
    }
    
    //Gifts that are in the main are on suggestion container  
    .suggestion-container{   
        p{
            color: $white-body;
        }
        
        @include dark-gifts-container;
        
        div{
            background: $dark-topbar-background;
        }
          
        button{
           @include main-dark-buttons;
           
           &:hover{
                background-color: #2629CC;
            }
        }
    }
    
    //Gifts that are in the trend section (the results of the searches)
    //are in the trend containers  
    .trend-container{     
        .trend-info{
            background: $dark-topbar-background;
        }
    }

}