body{
    background: $dark-body;
    color: $white-body;
    
    &:before{
       background: $dark-topbar-background; 
    }
    .header-btn{
        @include header-dark-buttons
        
    }
    nav,.coincidences{
        @include dark-navbar;
        
        .nav-btn{        
            background: $dark-background;
            color: #8F8F8F;
        }
        .nav-btn-input{
            background: #EE3EFE;
            border: 1px solid #110038;
            box-shadow: $dark-button-shadow;
            color: $white-body;
        } 
    }
    
    .coincidences{
        p{
            color: $dark-body;
            @include dark-coincidence-box;
        }
    }
    
    .alternative-searchbar{
        @include dark-alternative-searchbar
    }  
    .suggestion-container{
        
        p{
            color: $white-body;
        }
        
        @include dark-gifts-container;
        
        div{
            background: $dark-topbar-background;
        }  
        button{
           @include main-dark-buttons;
        }
    }

}