body{
    background: $white-body;
    color: $dark-body;
    
    &:before{
       background: $white-topbar-background; 
    }
       
    .header-btn{
        @include header-white-buttons;
    }
    
    .hover-border:hover{
        &:before{
            border: 1px dotted black;    
        }
    } 
    
    #selectTheme{
        div{
            @include white-navbar;
            button{                
                @include theme-options-white;
                
                &:nth-last-child(1){
                    @include theme-altOptions-white;  
                }
            }
         }
    }
    
    nav,.coincidences{
        @include white-navbar;
        
        .nav-btn{        
            background: $white-background;
            color: $dark-background;
        }
        .nav-btn-input{
            background: #F7C9F3;
            border: 1px solid #110038;
            box-shadow: $white-button-shadow;
            color: $dark-body;
        } 
    }
    
    .coincidences{
        p{
            @include white-coincidence-box;
            &:nth-child(1){
              background-color: $white-background; 
            }
        }
    }
    
    .alternative-searchbar{
        @include white-alternaitve-searchbar
    }   
   
    //Gifts that are in the main are on suggestion container
    .suggestion-container{
        
        p{
            color: $white-body;
        }
        
        @include white-gifts-container;
        
        div{
            background: $white-topbar-background;
        }
        button{
            @include main-white-buttons;
            
            &:hover{
                background-color: #3A72DB;
            }
        } 
    }
    
    //Gifts that are in the trend section (the results of the searches)
    //are in the trend containers
    
    .trend-container{
        
        .trend-info{
            background: $white-topbar-background;
        }
    }
}