//Main section buttons

.upload-actions{
    button{     
        background: #FFF4FD; 
        border: 1px solid $dark-body;
        box-shadow: $white-button-shadow;
        cursor: pointer;
        
        &:nth-last-child(1){
            background: #F7C9F3;
        }
    }
}