//Main section buttons

main{
    
    button{     
        position: relative;
        cursor: pointer;
        height: 2.25rem;
        width: 6rem;
        margin-left: 1rem;
        
        @media screen and (min-width: 600px){
            width: 8rem;       
        }   
    }
    
    .upload-actions{
        .upload-buttons{             
            width: 75%;
            display: flex;
            justify-content: flex-end;
            
            button{
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                span{
                width: 30%;
                height: 100%;
                left:  0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    margin: 0;
                    width: 62%;
                    height: 62%;
                }
            }  
            }
             
                            
            #active_record{
                background: #FF6161;
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #993A3A,
                inset 1px 1px 0 0 #FFFFFF; 
            }
        } 
    }
}

